/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color: rgb(32,42,46)
}
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
 
    -fx-background-radius: 0;
 
    -fx-background-color: rgb(239,207,64);
   
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: rgb(32,42,46);
}

.toggle-button {
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
 
    -fx-background-radius: 0;
 
    -fx-background-color: rgb(239,207,64);
   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}

.toggle-button:selected {
	-fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
 
    -fx-background-radius: 0;
 
    -fx-background-color: white;
   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
}
 
.button:hover{
    -fx-background-color: white;
}

.toggle-button:hover {
	-fx-background-color: white;
}
 
.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: rgb(32,42,46);
  -fx-text-fill: #1d1d1d;
}

.toggle-button:pressed, .toggle-button:default:hover:pressed
{
  -fx-background-color: rgb(32,42,46);
  -fx-text-fill: #1d1d1d;
}
 
.button:focused
{
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
 
.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
 
.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}
 
.button:default:hover{
    -fx-background-color: #8A2BE2;
}

.header{
    -fx-font-size: 42pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
}
 
.text-field:hover{
    -fx-background-color: #8A2BE2;
}

.check-box:hover{
    -fx-background-color: #8A2BE2;
}


.check-box:default {
    -fx-background-color: #8A2BE2;
}

.chart {
    -fx-padding: 50px;
    
}
.chart-content {
    -fx-padding: 0px;    
}
 
.chart-title {
  -fx-text-fill: white;
  -fx-font-size: 32pt;
}
 
.axis-label {
  -fx-text-fill: white;
}
 
.chart-legend {
   -fx-background-color:  transparent;
   
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 50;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: white;
    
    -fx-tick-length: 10;
    -fx-minor-tick-length: 0;
}

.chart-symbol { /* solid circle */
     /*-fx-background-color: #860061, white;*/
    /*-fx-background-insets: 0, 2;*/
    -fx-background-radius: 10px;
    -fx-padding: 10px;

}


.default-color0.chart-bar {
	-fx-bar-fill: rgba(239,207,64,0.5);
}

.list-view {
	-fx-background-color: rgb(239,207,64);
	
}

.list-cell {
    -fx-control-inner-background: rgb(32,42,46) ;
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 10%);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#efcf40 0%, #efcf40 25%, #efcf40 75%, #efcf40 100%);
    -fx-text-fill: rgb(32,42,46);
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.default-color0.chart-area-symbol { -fx-background-color: rgb(239,207,64), white; }

.default-color0.chart-series-area-line { -fx-stroke: rgb(239,207,64); }

.default-color0.chart-series-area-fill { -fx-fill: #efcf4055; }

.label {
	/*-fx-effect: dropshadow(two-pass-box , white, 10, 0.0 , 4, 5);*/
	-fx-text-fill:white; 
}

.combo-box
 {
  -fx-background-color: rgb(239,207,64);
  -fx-text-fill: red;
  -fx-min-width: 100;
  -fx-min-height: 35;

 }
.combo-box-popup .list-view
 {
   -fx-background-color: rgb(239,207,64);
   -fx-background-insets: 0, 1;
   /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );*/
 }
.combo-box-popup .list-view .list-cell
 {
-fx-background-color: rgb(239,207,64);
-fx-text-fill: rgb(32,42,46);
-fx-font-family: Helvetica;
-fx-font-size: 17;
-fx-font-weight: bold;
 }
 
 .combo-box .cell:selected {
  -fx-background-color: rgb(239,207,64);
-fx-text-fill: rgb(32,42,46);
-fx-font-family: Helvetica;
-fx-font-size: 17;
-fx-font-weight: bold;
}
 
 .combo-box:hover{
    -fx-background-color: white;
}

#whiteText{
	-fx-text-fill: rgb(239,207,64);
	-fx-font-weight: bold;
}

.heading-text{
	-fx-text-fill: rgb(32,42,46);
	-fx-font-size: 17;
}

.heading-pane{
	-fx-background-color: rgb(239,207,64);
}

.transparent{
		-fx-background-color: rgba(255, 255, 255, 0.5);
        -fx-effect: dropshadow(gaussian, red, 50, 0, 0, 0);
        -fx-background-insets: 50;
        }
        
.special-button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: rgb(239,207,64);
    -fx-border-width: 0;
 
    -fx-background-radius: 0;
 
    -fx-background-color: rgb(239,207,64);
   
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: rgb(32,42,46);
}
